name: 'Build and Deploy'

on: push

jobs:
  test:
    name: Test
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build
      run: |
        make html

  deploy:
    name: Deploy
    needs: [test]
    if: github.ref == 'refs/heads/master'
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build
      run: |
        make html
    - name: Deploy
      env:
        VERCEL_DEPLOY_TOKEN: ${{ secrets.VERCEL_DEPLOY_TOKEN }}
      run: |
        cd build
        cd html
        git config --global user.email "afanyiyu@hotmail.com"
        git config --global user.name "Il Harper Deploy Bot"
        git init
        git add -A
        git commit -m 'Vercel Deploy in GitHub Actions'
        git push -f https://${VERCEL_DEPLOY_TOKEN}@github.com/Afanyiyu/ae-plugin-sdk-guide-cn-deploy.git master
